---
import Layout from '../layouts/Layout.astro';
const baseUrl = "/ORC_WEBSITE_REAL";
---

<Layout>
  <section class="banner">
      <img src={`${baseUrl}/assets/images/ORC - Landscape Banner.png`} alt="ORC Landscape Banner" class="banner-img" fetchpriority="high" decoding="async" />
      <div class="banner-overlay">
          <img src={`${baseUrl}/assets/images/gear-logo.webp`} alt="Logo" class="banner-logo" style="height:fit-content" decoding="async" />
          <h1 class="banner-title">Okanagan<br/>Rover<br/>Craft</h1>
      </div>
  </section>

  <section class="content_section">
      <div class="decorative-rectangles" style="transform: scale(-1,-1); margin-top: -40px;">
          <div class="rect rect-one"></div>
          <div class="rect rect-two"></div>
          <div class="rect rect-three"></div>
      </div>
      <div class="content">
          <h1 class="content_title">Who Are We?</h1>
          <p class="content_text">
              Okanagan Rover Craft aims to foster an environment of continued learning in the robotics and mechatronics industry by building a rover to compete at the Canadian International Rover Challenge (CIRC)! We are a design-oriented student association at the University of British Columbia Okanagan, who design, build, and pilot mars-style rovers. Our organization seeks to provide a practical and fun experience to our members as we hone our skills as engineers and young professionals. Welcome to our website!
          </p>
          <button class="learn-more" id="learn-more-btn">
              Learn More
              <span class="arrow">→</span>
          </button>
          <div class="image-frame">
              <img src={`${baseUrl}/assets/images/IMG_1324.jpg`} alt="Group Photo" loading="lazy" decoding="async" class="expandable-image" />
          </div>
      </div>
  </section>
</Layout>

<script>
  const learnMoreBtn = document.getElementById('learn-more-btn');

  learnMoreBtn?.addEventListener('click', () => {
      window.location.href = "/ORC_WEBSITE_REAL/about";
  });
</script>
