---
import Layout from '../layouts/Layout.astro';
import '../styles/members.css';
---

<Layout>
  <div style="min-height: 60vh;">
    <h1 style="text-align:center; font-family:'Monomaniac One', sans-serif; margin-top:100px;">Members Page</h1>
    <h3 style="text-align:center; font-family:'Gothic A1', sans-serif;">Coming Soon</h3>
  </div>
</Layout>
