---
const rawBase = import.meta.env.BASE_URL;
const base = rawBase.endsWith('/') ? rawBase.slice(0, -1) : rawBase;
---
<footer class="bottom-bar">
    <p>Email: outreach@okanaganrovercraft.ca &nbsp; &nbsp;&nbsp;
Location: 3272 University Way, UNC 133&nbsp; &nbsp;&nbsp;
Kelowna, V1V 1V7</p>
    <div class="social-media">
        <a href="https://ca.linkedin.com/company/okanagan-rover-craft" target="_blank">
            <img src={`${base}/Logos/LinkedIn_icon.png`} alt="LinkedIn" class="social-icon">
        </a>
        <a href="https://www.instagram.com/okanagan_rover_craft/" target="_blank">
            <img src={`${base}/Logos/Instagram_logo.png`} alt="Instagram" class="social-icon">
        </a>
    </div>
</footer>
